{
  "svelteSortOrder": "scripts-markup-styles",
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 90
}
