:root {
  --clr: #748fee;
  --clr-two: #282c34;
  --clr-two-dark: #3a3838;
  --clr-white: #fff;
  --clr-grey: #c0c0c0;
  --clr-bg: #1b1b1b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--clr-white);
  background-color: var(--clr-bg);
}
