@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --clr: #ce41ff;
  --clr-two: #933afe;
  --clr-two-dark: #3a3838;
  --clr-white: #ffffff;
  --clr-gray: #fafafa;
  --clr-black: #1b1b1b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--clr-black);
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
